@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

header nav {
    background-color: #F2F2F2;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    text-decoration: none;
    color: #011C26;
    font-weight: bold;
    cursor: pointer;
}

.menu, .menu-icones{
    list-style: none;
    display: flex;
    gap: 5px;
}

.menu li a, .menu-icones li a{
    text-decoration: none;
    color: #011C26;
    padding: 8px;
    border-radius: 8px;
}

.menu li a:hover, .menu-icones li a:hover{
    background-color: #011C26;
    color: white;
}