@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

header nav {
    background-color: #F2F2F2;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    text-decoration: none;
    color: #011C26;
    font-weight: bold;
    cursor: pointer;
}

.menu, .menu-icones{
    list-style: none;
    display: flex;
    gap: 5px;
}

.menu li a, .menu-icones li a{
    text-decoration: none;
    color: #011C26;
    padding: 8px;
    border-radius: 8px;
}

.menu li a:hover, .menu-icones li a:hover{
    background-color: #011C26;
    color: white;
}

button.menu-oculto {
    border: none;
    font-size: 2rem;
    padding: 8px;
    color: #0b0e19;
    background-color: inherit;
}

div.menu-oculto{
    background-color: #210D26;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    width: 0;
    overflow-x: hidden;

    padding-top: 60px;
    transition: 0.5s;
}

div.menu-oculto a{
    text-decoration: none;
    font-size: 1.2rem;
    padding: 8px 8px 8px 32px;
    display: block;
    transition: 0.3s;
    color: #D9D9D9;
}

div.menu-oculto button.fechar{
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 2rem;
    background-color: inherit;
    border: none;
    color: #D9D9D9;
    padding: none;
    transition: 0.3s;
}

.footer {
    background-color: #210D26;
    color: #F2F2F2;
    padding: 15px 0;
}

.footer a {
    color: #F2F2F2;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.social-icons a {
    color: #F2F2F2;
    font-size: 24px;
    margin-right: 15px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #F2F2F2;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #F2F2F2;
    margin-top: 20px;
}