body{
    background-color: #71c38476;
    background-color: rgba(255, 0, 0, 0.1);
}
h2{
    font-size: 30px;
    background-color: blueviolet;
}
h1{
    font-size: 50px;
    background-color: aqua;
}
.galeria{
    height: 250px;
    width: 250px;
    object-fit: cover;
    object-position: top;
    
}

.capa{
    width: 100%;
}

.rem{
    font-size: 2rem;
}

.px{
    font-size: 16px;



}